
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv_proyecto/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Local settings
local_settings.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sql
*.sqlite
*.db